<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>受理</title>
<link rel="stylesheet" type="text/css" href="../../../statics/newlayui/layui/css/layui.css">
<link rel="stylesheet" type="text/css" href="../../../statics/css/page.css">
</head>
<body>
<!-- 外部整体 -->
<div class="external">
	<!-- 标题 -->
	<p class="ptitle">业务受理</p>
	<!-- 操作区域 -->
	<div class="operation">
		<!-- 向上间距 -->
		<div style="height: 10px;"></div>
		<form class="layui-form" action="">
			<div class="layui-form-item">

				<div class="layui-inline">
				    <label class="layui-form-label">通知单号:</label>
				    <div class="layui-input-block" style="width: 150px;">
				     	<input type="text" name="businessNoticeNo" id="businessNoticeNo" placeholder="请输入业务通知单号" autocomplete="off" class="layui-input">
				    </div>
			    </div>

			    <div class="layui-inline">
				    <label class="layui-form-label">客户编号:</label>
				    <div class="layui-input-block" style="width: 150px;">
				     	<input type="text" name="customCode" id="customCode" placeholder="请输入客户编号" autocomplete="off" class="layui-input">
				    </div>
			    </div>

				<!-- 查询按钮组 -->
			    <div class="layui-inline">
					<button type="submit" lay-submit="" class="layui-btn btnQuery" lay-filter="sreach" >
						<i class="layui-icon">&#xe615;</i> 查询
					</button>

					<button type="reset" class="layui-btn btnOther">
						<i class="layui-icon">&#x1002;</i> 重置
					</button>

				<!--	<button id="btnMore" type="button" class="layui-btn btnOther">
						<i class="layui-icon">&#xe671;</i>更多
					</button>-->
				</div>

			</div>

			<!-- 隐藏其它查询条件（更多） -->
			<!--<div id="hQuery" class="layui-form-item" style="display: none;">
			</div>-->

			<!-- 操作按扭组 -->
			<div class="layui-form-item" style="padding-left: 11px;height: 30px;">
				<div class="layui-inline">
					<button type="button" class="layui-btn layui-btn-small btnQuery" id="opAdd">新增</button>
					<button type="button" class="layui-btn layui-btn-small btnOther" id="opUpdate">编辑</button>
					<button type="button" class="layui-btn layui-btn-small btnQuery" id="opRun">追单</button>
<!--
					<button type="button" class="layui-btn layui-btn-small btnQuery" id=" ">改单</button>
-->
					<button type="button" class="layui-btn layui-btn-small btnQuery" id="opDestroy">销单</button>
					<button type="button" class="layui-btn layui-btn-small btnQuery" id="opMoney">运费计算</button>
				</div>
			</div>

			<!-- 数据表格 -->
			<div>
			<table class="layui-table" id="user" lay-filter="tools"></table>
		   </div>
		</form>
	</div>
</div>
<script type="text/javascript" src="../../../statics/custom/jquery.min.js"></script>
<script type="text/javascript" src="../../../statics/layer/layer.js"></script>
<script type="text/javascript" src="../../../statics/newlayui/layui/layui.js"></script>
<script type="text/javascript">
    //加载'form'模块，使checkbox、select、radio初始化
    var table;
    var layer;
    var form;
    var laydate;
    layui.use(['layer','table','element','form','laydate'],function () {
        $ = layui.jquery;
        table = layui.table;
        layer = layui.layer;
        form = layui.form;
        laydate = layui.laydate;
        // 执行一个 table 实例
        table.render({
            id:'alltable',
            elem : '#user',
            height: 480,
            page:true,
			size:'lg',
            cellMinWidth: 80,
            limits: [10,25,50,75,100],  //每页条数的选择项，默认：[10,20,30,40,50,60,70,80,90]。
            limit: 10, //每页默认显示的数量
            url : '/findBusinessAcceptance'
			,cols : [ [ // 表头
                {
                    type:'checkbox'
                },  {
                    field : 'id',
                    title : '序号',
                    width : 78,
                    sort: true
                }, {
                    field : 'businessNoticeNo',
                    title : '业务通知单号',
                    width : 115
                }, {
                    field : 'customCode',
                    title : '客户编号',
                    width : 112
                }, {
                    field : 'customName',
                    title : '客户名称',
                    width : 88
                }, {
                    field : 'linkman',
                    title : '取件人',
                    width : 88
                }, {
                    field : 'telPhone',
                    title : '客户电话',
                    width : 130
                }, {
                    field : 'pickupAddress',
                    title : '取件地址',
                    width : 168
                }, {
                    field : 'city',
                    title : '取件城市',
                    width : 89
                }, {
                    field : 'arriveCity',
                    title : '到达城市',
                    width : 89
                } , {
                    field : 'production',
                    title : '品名',
                    width : 85
                } , {
                    field : 'reservationTime',
                    title : '预约取件时间',
                    width : 170,
                    sort: true,
                    fixed: 'right'
                }  ] ]
        });


        //监听提交
        form.on('submit(sreach)', function(data){
            var customCode=$("#customCode").val();
            var businessNoticeNo=$("#businessNoticeNo").val();

            table.reload('alltable', {page:{curr:1},url: '/findBusinessAcceptance' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
                ,totalRow: true //开启合计行
                ,cols : [ [ // 表头
                    {
                        type:'checkbox'
                    },  {
                        field : 'id',
                        title : '序号',
                        width : 78,
                        sort: true
                    }, {
                        field : 'businessNoticeNo',
                        title : '业务通知单号',
                        width : 115
                    }, {
                        field : 'customCode',
                        title : '客户编号',
                        width : 112
                    }, {
                        field : 'customName',
                        title : '客户名称',
                        width : 88
                    }, {
                        field : 'linkman',
                        title : '取件人',
                        width : 88
                    }, {
                        field : 'telPhone',
                        title : '客户电话',
                        width : 130
                    }, {
                        field : 'pickupAddress',
                        title : '取件地址',
                        width : 168
                    }, {
                        field : 'city',
                        title : '取件城市',
                        width : 89
                    }, {
                        field : 'arriveCity',
                        title : '到达城市',
                        width : 89
                    } , {
                        field : 'production',
                        title : '品名',
                        width : 85
                    } , {
                        field : 'reservationTime',
                        title : '预约取件时间',
                        width : 170,
                        sort: true,
                        fixed: 'right'
                    }  ] ]
                , where:{"customCode":customCode,"businessNoticeNo":businessNoticeNo}});
            return false;
        });



    });


$(function(){
	//新增
	$('#opAdd').click(function(){
		//页面层
		layer.open({
		  title: ['新增', 'color:#fff;background:#1da02b;'],
		  type: 2,
		  //skin: 'layui-layer-rim', //加上边框
		  area: ['930px', '450px'], //宽高
		  content: '/businessAcceptanceAdd'
		});
	});

	//编辑
	$('#opUpdate').click(function(){
        var checkStatus = table.checkStatus("alltable"),
            data = checkStatus.data;
        if (data.length == 1)
        {
            var bid = data[0].id;
            layer.open({
                title: ['编辑', 'color:#fff;background:#1da02b;'],
                type: 2,
                //skin: 'layui-layer-rim', //加上边框
                area: ['930px', '450px'], //宽高
                content: '/businessAcceptanceUpdate/'+bid+''
            });
        }else {
            layer.msg("请选择需要编辑的一行数据！",{icon:5});
        }
	});

	//追单
	$('#opRun').click(function(){
        var checkStatus = table.checkStatus("alltable"),
            data = checkStatus.data
        if (data.length == 1)
        {
            var bid = data[0].id;
            layer.alert("是否追单？", {btn: ['是','否'] },function () {
				//alert("a");
                $.ajax({
					type:'post',
					url:'/RunWork',
					data:{'id':bid},
                    success:function (a) {
						layer.msg("追单成功！",{icon:6});
                    }
				})

            })
		}else {
            layer.msg("请选择需要追单的一行数据！",{icon:5});
        }
	});

	//销单
    $('#opDestroy').click(function(){
        var checkStatus = table.checkStatus("alltable"),
            data = checkStatus.data;
        if (data.length == 1)
        {
            var businessNoticeNo = data[0].businessNoticeNo;
            layer.alert("是否销单？", {btn: ['是','否'] },function () {
                $.ajax({
                    type:'post',
                    url:'/destroyWork',
                    data:{'businessNoticeNo':businessNoticeNo},
                    success:function (a) {
                        layer.msg('销单成功!', {icon: 1,shade:0.5,time:1000},function () {
                            location.reload();
                        });
                        layer.close();

                    }
                })

            })
        }else {
            layer.msg("请选择需要销单的一行数据！",{icon:5});
        }
    });

    //计算运费
    $('#opMoney').click(function(){
        var checkStatus = table.checkStatus("alltable"),
            data = checkStatus.data
        if (data.length == 1)
        {
            var bid = data[0].id;
            layer.msg("暂无计算运费的接口！",{icon:5});
        }else {
            layer.msg("请选择需要计算运费的一行数据！",{icon:5});
        }
    });


});




</script>

</body>
</html>
