<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>取消签收申请确认单详情</title>
    <link rel="stylesheet" type="text/css" href="../../../statics/newlayui/layui/css/layui.css">
</head>
<body>
	<div class="layui-form">
    <div class="layui-tab layui-tab-brief">
      <ul class="layui-tab-title">
        <li class="layui-this">取消签收申请确认单详情</li>
      </ul>
      <div class="layui-tab-content" style="height: 100px;">
        <div class="layui-tab-item layui-show">
          <table class="layui-table" style="width: 98%;margin: 1px auto;text-align: center;">
              <tbody>
                <tr>
                    <input type="hidden" name="workSheetNo" id="workSheetNo" th:value="${session.workSheetNo}"/>
                      <td class="layui-bg-gray" width="13%">工作单号</td>
        		      <td width="20%" id="workSheetNo1"></td>
        		      <td class="layui-bg-gray" width="13%">申请单号</td>
        		      <td width="20%" id="appNo"></td>
        		      <td class="layui-bg-gray" width="13%">申请原因</td>
        		      <td width="20%" id="appWhy"></td>
        		    </tr>
                <tr>
                      <td class="layui-bg-gray">签收类型</td>
        		      <td id="signType"></td>
                      <td class="layui-bg-gray">签收单位</td>
        		      <td id="signUnit"></td>
                      <td class="layui-bg-gray">申请人</td>
        		      <td id="appPeople"></td>
        		    </tr>
                <tr>
                      <td class="layui-bg-gray">申请时间</td>
        		      <td id="appTime"></td>
                      <td class="layui-bg-gray">申请单位</td>
        		      <td id="appUnit"></td>
                      <td class="layui-bg-gray">确认人</td>
        		      <td id="conPeople"></td>
        		    </tr>
                 <tr>
                      <td class="layui-bg-gray">确认时间</td>
        		      <td id="conTime"></td>
                      <td class="layui-bg-gray">确认状态</td>
        		      <td id="conStatus"></td>
                      <td class="layui-bg-gray"></td>
        		      <td ></td>
                 </tr>
                <tr>
                      <td class="layui-bg-gray">原因</td>
        		      <td colspan="5" id="why"></td>
                </tr>
              </tbody>
          </table>
        </div>
    </div>
</div>

  </div>
	<script type="text/javascript" src="../../../statics/custom/jquery.min.js"></script>
    <script type="text/javascript" src="../../../statics/newlayui/layui/layui.js"></script>
	<script type="text/javascript">

        layui.use(['form', 'layedit','layer','laydate'], function(){
            $ = layui.jquery;
            var form = layui.form
                ,layer = layui.layer
                ,laydate =layui.laydate;

            var workSheetNo = $("#workSheetNo").val();
            $.ajax({
                type:'post',
                data:{'workSheetNo':workSheetNo},
                url:'/queryAllByWoShNo',
                success:function (data) {
                    var obj=$.parseJSON(data);
                    $("#why").html(obj.why);
                    if(obj.conStatus=="1"){
                        $("#conStatus").html("新增");
                    }else if(obj.conStatus=="2"){
                        $("#conStatus").html("同意");
                    }
                    $("#conTime").html(obj.conTime);
                    $("#conPeople").html(obj.conPeople);
                    $("#appUnit").html(obj.appUnit);
                    $("#appTime").html(obj.appTime);
                    $("#appPeople").html(obj.appPeople);
                    $("#signUnit").html(obj.signUnit);
                    $("#signType").html(obj.signType);
                    $("#workSheetNo1").html(obj.workSheetNo);
                    $("#appNo").html(obj.appNo);
                    $("#appWhy").html(obj.appWhy);
                }

            });


        });





    </script>
</body>
</html>
