<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>拒绝</title>
    <link rel="stylesheet" type="text/css" href="../../../statics/newlayui/layui/css/layui.css">
</head>
<body>
<form class="layui-form" action="/refuse" method="post">
    <table class="layui-table" style="width: 98%;margin: 1px auto;text-align: center;">
        <tbody>
        <tr>
            <td class="layui-bg-gray" width="15%">原因</td>
            <td width="35%">
                <input id="id" name="id" type="hidden" th:value="${session.id}"/>
                <textarea name="why" id="why" lay-verify="required" placeholder="请输入原因！" class="layui-textarea"></textarea>
            </td>
        </tr>

        <tr>
            <td colspan="4">
                <button class="layui-btn" style="background: #1da02b;" lay-filter="add" lay-submit="">确定</button>
                <button type="button" class="layui-btn layui-btn-primary" id="closePage">取消</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>
<script type="text/javascript" src="../../../statics/custom/jquery.min.js"></script>
<script type="text/javascript" src="../../../statics/newlayui/layui/layui.js"></script>
<script type="text/javascript">
    //返回
    $("#closePage").click(function(){
        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
        parent.layer.close(index);//关闭弹出的子页面窗口
    });

    layui.use(['form', 'layedit','layer','laydate'], function(){
        $ = layui.jquery;
        var form = layui.form
            ,layer = layui.layer
            ,laydate =layui.laydate,
            layedit =layui.layedit;

        //监听提交
        form.on('submit(add)', function(data){
            layer.alert("拒绝成功！", {icon: 6},function () {
                // 获得frame索引
                var index = parent.layer.getFrameIndex(window.name);
                parent.location.reload(); //刷新父页面
                //关闭当前frame
                parent.layer.close(index);
                $(".layui-form").submit();
            });
            return false;
        });


    });





</script>
</body>
</html>
