<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>管理分区</title>
	<link rel="stylesheet" type="text/css" href="../../../statics/newlayui/layui/css/layui.css">
</head>
<body>
	<form class="layui-form" action="/updWorkorSign" method="post">
	<table class="layui-table" style="width: 98%;margin: 1px auto;text-align: center;">
	  	<tbody>
		    <tr>
				<td class="layui-bg-gray" width="13%">签收时间</td>
				<td width="21%">
					<input type="hidden" id="workSheetNo" name="workSheetNo" th:value="${session.workSheetNo}">
					<input type="text" lay-verify="required" name="signTime" id="signTime" placeholder="请输入签收时间" autocomplete="off" class="layui-input">
				</td>
				<td class="layui-bg-gray" width="13%">签收人工号</td>
				<td width="21%">
					<input type="text" lay-verify="required|noti" name="recipient" id="recipient" placeholder="请输入签收人工号" autocomplete="off" class="layui-input">
				</td>
			</tr>
			<tr>
				<td class="layui-bg-gray"></td>
				<td width="21%">
				</td>
				<td class="layui-bg-gray"></td>
				<td>
				</td>
			</tr>
			<tr>
				<td class="layui-bg-gray"></td>
				<td width="21%">
				</td>
				<td class="layui-bg-gray"></td>
				<td>
				</td>
			</tr>
			<tr>
				<td class="layui-bg-gray"></td>
				<td width="21%">
				</td>
				<td class="layui-bg-gray"></td>
				<td>
				</td>
			</tr>
			<tr>
				<td class="layui-bg-gray"></td>
				<td width="21%">
				</td>
				<td class="layui-bg-gray"></td>
				<td>
				</td>
			</tr>
			<tr>
				<td class="layui-bg-gray"></td>
				<td width="21%">
				</td>
				<td class="layui-bg-gray"></td>
				<td>
				</td>
			</tr>
			<tr>
				<td class="layui-bg-gray"></td>
				<td width="21%">
				</td>
				<td class="layui-bg-gray"></td>
				<td>
				</td>
			</tr>
			<tr>
				<td class="layui-bg-gray"></td>
				<td width="21%">
				</td>
				<td class="layui-bg-gray"></td>
				<td>
				</td>
			</tr>
			<tr>
				<td class="layui-bg-gray"></td>
				<td width="21%">
				</td>
				<td class="layui-bg-gray"></td>
				<td>
				</td>
			</tr>
			<tr>
				<td class="layui-bg-gray"></td>
				<td width="21%">
				</td>
				<td class="layui-bg-gray"></td>
				<td>
				</td>
			</tr>
			<tr>
				<td class="layui-bg-gray"></td>
				<td width="21%">
				</td>
				<td class="layui-bg-gray"></td>
				<td>
				</td>
			</tr>

		    <tr>
		      	<td colspan="6">
					<button class="layui-btn" style="background: #1da02b;" lay-filter="upd" lay-submit="">确定</button>
					<button type="button" class="layui-btn layui-btn-primary" id="closePage">取消</button>
				</td>
		    </tr>

	  	</tbody>
	</table>
	</form>
	<script type="text/javascript" src="../../../statics/custom/jquery.min.js"></script>
	<script type="text/javascript" src="../../../statics/newlayui/layui/layui.js"></script>
	<script type="text/javascript">

        //返回
        $("#closePage").click(function(){
            var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
            parent.layer.close(index);//关闭弹出的子页面窗口
        });

        layui.use(['form', 'layedit','layer','laydate'], function(){
            $ = layui.jquery;
            var form = layui.form
                ,layer = layui.layer
                ,laydate =layui.laydate
				,layedit =layui.layedit;

            var workSheetNo = $("#workSheetNo").val();
            $.ajax({
                type:'post',
                data:{'workSheetNo':workSheetNo},
                url:'/queryByWorkSheetNo',
                success:function (data) {
                    var obj=$.parseJSON(data);

                    $("#signTime").val(obj.signTime);
                    $("#recipient").val(obj.recipient);
                }

            });
            //监听提交
            form.on('submit(upd)', function(data){
                layer.alert("修改成功！", {icon: 6},function () {
                    // 获得frame索引
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.location.reload(); //刷新父页面
                    //关闭当前frame
                    parent.layer.close(index);
                    $(".layui-form").submit();
                });
                return false;
            });
            //创建一个编辑器
            var editIndex = layedit.build('LAY_demo_editor');

            //自定义验证规则
            form.verify({
                noti:function(value,item){
                    var msg = '';
                    $.ajax({
                        type:'post',
                        url:'/queryUnits',
                        data:{'empNo':value},
                        async:false,
                        success:function (a) {
                            if("a"==a){
                                msg = '签收人工号输入有误！';
                            }
                        }
                    });
                    return msg;
                },
                content: function(value){
                    layedit.sync(editIndex);
                }
            });
           //签收日期
            $(this).removeAttr("lay-key");
            var signTime= laydate.render({
                elem: '#signTime'
                ,type: 'datetime'
                ,trigger : 'click'
            });
        });



	</script>
</body>
</html>
