<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>分配</title>
	<link rel="stylesheet" type="text/css" href="../../../statics/newlayui/layui/css/layui.css">
</head>
<body>
	<div class="layui-form">
    <div class="layui-tab layui-tab-brief">
      <ul class="layui-tab-title">
        <li class="layui-this">签收录入详情</li>
      </ul>
      <div class="layui-tab-content" style="height: 100px;">
        <div class="layui-tab-item layui-show">
          <table class="layui-table" style="width: 98%;margin: 1px auto;text-align: center;">
              <tbody>
                <tr>
					<input type="hidden" id="workSheetNo1" name="workSheetNo" th:value="${session.workSheetNo}">
					<td class="layui-bg-gray" width="13%">工作单ID</td>
        		      <td width="20%" id="WorkOrderID"></td>
        		      <td class="layui-bg-gray" width="13%">工作单号</td>
        		      <td width="20%" id="workSheetNo"></td>
        		      <td class="layui-bg-gray" width="13%">工作单类型</td>
        		      <td width="20%" id="workOrderType"></td>
        		    </tr>

                <tr>
					  <td class="layui-bg-gray">签收类型</td>
        		      <td id="signType"></td>
					  <td class="layui-bg-gray">签收人</td>
					  <td id="recipientName"></td>
					  <td class="layui-bg-gray">签收时间</td>
					  <td id="signTime"></td>
				</tr>
				<tr>
					<td class="layui-bg-gray">签收单位</td>
					<td id="uname"></td>
					<td class="layui-bg-gray">派送员工名</td>
					<td id="courierName"></td>
					<td class="layui-bg-gray">派送员工号</td>
					<td id="courierint"></td>
				</tr>
                <tr>
					<td class="layui-bg-gray">录入单位</td>
					<td id="name"></td>
					<td class="layui-bg-gray">录入人编码</td>
					<td id="inputPersonCode"></td>
					<td class="layui-bg-gray">录入人姓名</td>
        		    <td id="empName"></td>
				</tr>
                <tr>
					<td class="layui-bg-gray">录入时间</td>
        		    <td id="inputTime"></td>
					<td class="layui-bg-gray">状态</td>
					<td colspan="4" id="status"></td>
				</tr>

              </tbody>
          </table>
        </div>

    </div>
</div>

  </div>
	<script type="text/javascript" src="../../../statics/custom/jquery.min.js"></script>
	<script type="text/javascript" src="../../../statics/newlayui/layui/layui.js"></script>
	<script type="text/javascript">

        layui.use(['form', 'layedit','layer','laydate'], function(){
            $ = layui.jquery;
            var form = layui.form
                ,layer = layui.layer
                ,laydate =layui.laydate
                ,layedit =layui.layedit;

            var workSheetNo = $("#workSheetNo1").val();
            $.ajax({
                type:'post',
                data:{'workSheetNo':workSheetNo},
                url:'/queryByWorkSheetNo',
                success:function (data) {
                    var obj=$.parseJSON(data);

                    $("#WorkOrderID").html(obj.workOrderID);
                    $("#workSheetNo").html(obj.workSheetNo);
                    if(obj.workOrderType==1){
                        $("#workOrderType").html("返单");
                    }else if(obj.workOrderType==2){
                        $("#workOrderType").html("调单");
					}else{
                        $("#workOrderType").html("正常单据");
					}
					if(obj.signType==1){
					    //1.正常签收,2.反向签收
                        $("#signType").html("正常签收");
					}else{
                        $("#signType").html("反向签收");
					}
                    $("#inputPersonCode").html(obj.inputPersonCode);
                    $("#recipientName").html(obj.recipientName);
                    $("#courierint").html(obj.courierint);
                    $("#courierName").html(obj.courierName);
                    $("#signTime").html(obj.signTime);
                    $("#inputTime").html(obj.inputTime);
                    if(obj.status==1){
						$("#status").html("已签收");
					}else if(obj.status==2){
                        $("#status").html("取消签收");
					}
                    $("#name").html(obj.name);
                    $("#empName").html(obj.empName);
                    $("#uname").html(obj.uname);
                }

            });

        });

	</script>
</body>
</html>
