<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>签收录入</title>
	<link rel="stylesheet" type="text/css" href="../../../statics/newlayui/layui/css/layui.css">
<link rel="stylesheet" type="text/css" href="../../../statics/css/page.css">
</head>
<body>
<!-- 外部整体 -->
<div class="external">
	<!-- 标题 -->
	<p class="ptitle">签收录入</p>
	<!-- 操作区域 -->
	<div class="operation">
		<!-- 向上间距 -->
		<div style="height: 10px;"></div>
		<form class="layui-form" action="">
			<div class="layui-form-item">

				<div class="layui-inline">
				    <label class="layui-form-label">录入人姓名:</label>
				    <div class="layui-input-block" style="width: 150px;">
				    	<input type="text" name="empName" id="empName" placeholder="请输入录入人姓名" autocomplete="off" class="layui-input">
				    </div>
			    </div>

			    <div class="layui-inline">
				    <label class="layui-form-label" >工作单号:</label>
				    <div class="layui-input-block" style="width: 150px;">
							<input type="text" name="workSheetNo" id="workSheetNo" placeholder="请输入工作单号" autocomplete="off" class="layui-input">
				    </div>
			    </div>

				<!-- 查询按钮组 -->
			    <div class="layui-inline">
					<button type="submit" lay-submit="" class="layui-btn btnQuery" lay-filter="sreach" >
						<i class="layui-icon">&#xe615;</i> 查询
					</button>

					<button type="reset" class="layui-btn btnOther">
						<i class="layui-icon">&#x1002;</i> 重置
					</button>

					<button id="btnMore" type="button" class="layui-btn btnOther">
						<i class="layui-icon">&#xe671;</i>更多
					</button>
				</div>

			</div>

			<!-- 隐藏其它查询条件 -->
			<div id="hQuery" style="display: none;">
					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label">签收类型:</label>
							<div class="layui-input-block" style="width: 150px;">
								<select name="signType" id="signType">
                                    <option value=""></option>
                                    <option value="1">正常签收</option>
                                    <option value="2">反向签收</option>
								</select>
							</div>
						</div>

						<div class="layui-inline">
							<label class="layui-form-label">派送人工号:</label>
							<div class="layui-input-block" style="width: 150px;">
								<input type="text" name="courierint" id="courierint" placeholder="请输入派送人员工号" autocomplete="off" class="layui-input">
							</div>
						</div>

						<div class="layui-inline">
							 <label class="layui-form-label">签收日期</label>
							 <div class="layui-input-inline" style="width: 120px;">
								 <input type="text" name="start" id="start" placeholder="YYYY-MM-DD" autocomplete="off" class="layui-input">
							 </div>
							 <div class="layui-form-mid">-</div>
							 <div class="layui-input-inline" style="width: 120px;">
								 <input type="text" name="end" id="end" placeholder="YYYY-MM-DD" autocomplete="off" class="layui-input">
							 </div>
						</div>
					</div>

					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label">录入单位:</label>
							<div class="layui-input-block" style="width: 150px;">
								<input type="text" name="name" id="name" placeholder="请输入单位" autocomplete="off" class="layui-input">
							</div>
						</div>

						<div class="layui-inline">
							<label class="layui-form-label">作废:</label>
							<div class="layui-input-block" style="width: 150px;">
								<select name="invalidateMark" id="invalidateMark">
									<option value=""></option>
									<option value="2">否</option>
									<option value="1">是</option>
								</select>
							</div>
						</div>
					</div>
			</div>

			<!-- 操作按扭组 -->
			<div class="layui-form-item" style="padding-left: 11px;height: 30px;">
				<div class="layui-inline">
					<button type="button" class="layui-btn layui-btn-small btnQuery" id="add">新增</button>
					<button type="button" class="layui-btn layui-btn-small btnQuery" id="edit">修改</button>
					<button type="button" class="layui-btn layui-btn-small btnOther" id="detail">详情</button>
				</div>
			</div>

			<!-- 数据表格 -->
			<table class="layui-table" id="user"></table>

		</form>
	</div>
</div>
<script type="text/javascript" src="../../../statics/custom/jquery.min.js"></script>
<script type="text/javascript" src="../../../statics/layer/layer.js"></script>
<script type="text/javascript" src="../../../statics/newlayui/layui/layui.js"></script>
<script type="text/javascript">
   //加载'form'模块，使checkbox、select、radio初始化
   var table;
   var layer;
   var form;
   var laydate;
   layui.use(['layer','table','element','form','laydate'],function () {
       $ = layui.jquery;
       table = layui.table;
       layer = layui.layer;
       form = layui.form;
       laydate = layui.laydate;
       // 执行一个 table 实例
       table.render({
           id:'alltable',
           elem : '#user',
           height: 480,
           page:true,
           cellMinWidth: 80,
           limits: [10,25,50,75,100],  //每页条数的选择项，默认：[10,20,30,40,50,60,70,80,90]。
           limit: 10, //每页默认显示的数量
           url : '/findsignInput'
           ,cols : [ [ // 表头
               {
                   type:'checkbox'
               },  {
                   field : 'id',
                   title : '序号',
                   width : 80,
                   sort: true
               }, {
                   field : 'workSheetNo',
                   title : '工作单ID',
                   width : 130
               }, {
                   field : 'workOrderType',
                   title : '工作单类型',
                   width : 170,
                   templet : function(d) {//1=返单2=调单 3=正常单据
                       if (d.workOrderType == 1) {
                           return '返单';
                       }else if(d.workOrderType == 2){
                           return '调单';
                       }else{
                           return '正常单据';
                       }
                   }
               }, {
                   field : 'signType',
                   title : '签收类型',
                   width : 170,
                   templet : function(d) {//1.正常签收,2.反向签收
                       if (d.signType == 1) {
                           return '正常签收';
                       }else{
                           return '反向签收';
                       }
                   }
               }, {
                   field : 'name',
                   title : '录入单位',
                   width : 170
               }, {
                   field : 'inputPersonCode',
                   title : '录入人编码',
                   width : 100
               }, {
                   field : 'empName',
                   title : '录入人姓名',
                   width : 100
               }, {
                   field : 'recipient',
                   title : '签收人',
                   width : 100
               },{
                   field : 'courierName',
                   title : '派送员工姓名',
                   width : 200,
                   fixed: 'right'
               }  ] ]
       });


       //监听提交
       form.on('submit(sreach)', function(data){
           var empName=$("#empName").val();
           var workSheetNo=$("#workSheetNo").val();
           var start=$("#start").val();
           var end=$("#end").val();
           var signType=$("#signType").val();
           var courierint=$("#courierint").val();
           var name=$("#name").val();
           var invalidateMark=$("#invalidateMark").val();
           table.reload('alltable', {page:{curr:1},url: '/findsignInput' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
               ,totalRow: true //开启合计行
               ,cols : [ [ // 表头
                   {
                       type:'checkbox'
                   },  {
                       field : 'id',
                       title : '序号',
                       width : 80,
                       sort: true
                   }, {
                       field : 'workSheetNo',
                       title : '工作单ID',
                       width : 130
                   }, {
                       field : 'workOrderType',
                       title : '工作单类型',
                       width : 170,
                       templet : function(d) {//1=返单2=调单 3=正常单据
                           if (d.workOrderType == 1) {
                               return '返单';
                           }else if(d.workOrderType == 2){
                               return '调单';
                           }else{
                               return '正常单据';
                           }
                       }
                   }, {
                       field : 'signType',
                       title : '签收类型',
                       width : 170,
                       templet : function(d) {//1.正常签收,2.反向签收
                           if (d.signType == 1) {
                               return '正常签收';
                           }else{
                               return '反向签收';
                           }
                       }
                   }, {
                       field : 'name',
                       title : '录入单位',
                       width : 170
                   }, {
                       field : 'inputPersonCode',
                       title : '录入人编码',
                       width : 100
                   }, {
                       field : 'empName',
                       title : '录入人姓名',
                       width : 100
                   }, {
                       field : 'recipient',
                       title : '签收人',
                       width : 100
                   },{
                       field : 'courierName',
                       title : '派送员工姓名',
                       width : 200,
                       fixed: 'right'
                   }  ] ]
               , where:{"empName":empName,"workSheetNo":workSheetNo,
                   "signType":signType,"courierint":courierint,
                   "start":start,"end":end,
                   "name":name,"invalidateMark":invalidateMark}});
           return false;
       });

       //开始日期
       var start= laydate.render({
           elem: '#start'
       });

       //结束日期
       var end= laydate.render({
           elem: '#end'
       });


   });

$(function(){
	//显示、隐藏剩余的查询条件
	$('#btnMore').click(function(){
		$("#hQuery").toggle();
	});

    //新增
    $('#add').click(function(){
        //页面层
        layer.open({
            title: ['新增', 'color:#fff;background:#1da02b;'],
            type: 2,
            //skin: 'layui-layer-rim', //加上边框
            area: ['700px', '370px'], //宽高
            content: '/signInputAdd'
        });
    });

    //修改
    $('#edit').click(function(){
        //页面层
        var checkStatus = table.checkStatus("alltable"),
            data = checkStatus.data;
        if (data.length == 1)
        {
            var bid = data[0].id;
            var workSheetNo = data[0].workSheetNo;
            layer.open({
                title: ['编辑', 'color:#fff;background:#1da02b;'],
                type: 2,
                //skin: 'layui-layer-rim', //加上边框
                area: ['700px', '370px'], //宽高
                content: '/signInputUpd/'+workSheetNo+''
            });
        }else {
            layer.msg("请选择需要编辑的一行数据！",{icon:5});
        }
    });

    //详情
    $('#detail').click(function(){
        //页面层
        var checkStatus = table.checkStatus("alltable"),
            data = checkStatus.data;
        if (data.length == 1)
        {
            var bid = data[0].id;
            var workSheetNo = data[0].workSheetNo;
            layer.open({
                title: ['详情', 'color:#fff;background:#1da02b;'],
                type: 2,
                //skin: 'layui-layer-rim', //加上边框
                area: ['900px', '430px'], //宽高
                content: '/getsignInputDetail/'+workSheetNo+''
            });
        }else {
            layer.msg("请选择一行数据！",{icon:5});
        }
    });

});

</script>

</body>
</html>
