<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>基础档案</title>
<link rel="stylesheet" type="text/css" href="../../../statics/newlayui/layui/css/layui.css">
<link rel="stylesheet" type="text/css" href="../../../statics/css/page.css">
</head>
<body>
<!-- 外部整体 -->
<div class="external">
	<!-- 标题 -->
	<p class="ptitle">基础档案</p>
	<!-- 操作区域 -->
	<div class="operation">
		<!-- 向上间距 -->
		<div style="height: 10px;"></div>
		<form class="layui-form" action="">
			<div class="layui-form-item">

				<div class="layui-inline">
				    <label class="layui-form-label">档案编号:</label>
				    <div class="layui-input-block" style="width: 150px;">
						<input type="text" id="id" name="id" placeholder="请输入档案编号" autocomplete="off" class="layui-input">
				    </div>
				    
			    </div>

			    <div class="layui-inline">
				    <label class="layui-form-label" >档案名称:</label>
				    <div class="layui-input-block" style="width: 150px;">
				     	<input type="text" id="name" name="name" placeholder="请输入档案名称" autocomplete="off" class="layui-input">
				    </div>
			    </div>

				<!-- 查询按钮组 -->
			    <div class="layui-inline">
					<button type="submit"  lay-submit="" class="layui-btn btnQuery" lay-filter="sreach">
						<i class="layui-icon">&#xe615;</i> 查询
					</button>

					<button type="reset" class="layui-btn btnOther">
						<i class="layui-icon">&#x1002;</i> 重置
					</button>

					<button id="btnMore" type="button" class="layui-btn btnOther">
						<i class="layui-icon">&#xe671;</i>更多
					</button>
				</div>
			    
			</div>

			<!-- 隐藏其它查询条件 -->
			<div id="hQuery" class="layui-form-item" style="display: none;">
			    <div class="layui-inline">
				    <label class="layui-form-label">操作人:</label>
				    <div class="layui-input-block" style="width: 150px;">
				     	<input type="text" name="empName" id="empName" placeholder="请输入操作人" autocomplete="off" class="layui-input">
				    </div>
			    </div>

			    <div class="layui-inline">
				    <label class="layui-form-label" >操作时间:</label>
				    <div class="layui-input-block" style="width: 150px;">
				     	<input type="text" id="operationTime" name="operationTime" placeholder="请输入操作时间" autocomplete="off" class="layui-input">
				    </div>
			    </div>
			
			</div>

			<!-- 操作按扭组 -->
			<div class="layui-form-item" style="padding-left: 11px;height: 30px;">
				<div class="layui-inline">
					<button type="button" class="layui-btn layui-btn-small btnQuery" id="opAdd">新增主信息</button>
					<button type="button" class="layui-btn layui-btn-small btnOther" id="opUpdate">编辑</button>
					<button type="button" class="layui-btn layui-btn-small btnOther">取消</button>
				</div>
			</div>

			<!-- 数据表格 -->
			<div>
			<table class="layui-table" id="user" lay-filter="tools"></table>
		</div>
		</form>

		<script id="tools" type="text/html">
			<a lay-event="query" class="layui-btn layui-btn-small btnQuery" id="btnList">查看列表</a>
		</script>
	</div>
</div>

<script type="text/javascript" src="../../../statics/custom/jquery.min.js"></script>
<script type="text/javascript" src="../../../statics/newlayui/layui/layui.js"></script>
<script type="text/javascript">
    //加载'form'模块，使checkbox、select、radio初始化
    var table;
    var layer;
    var form;
    var laydate;
    layui.use(['layer','table','element','form','laydate'],function () {
        $ = layui.jquery;
        table = layui.table;
        layer = layui.layer;
        form = layui.form;
        laydate = layui.laydate;
        // 执行一个 table 实例
        table.render({
            id:'alltable',
            elem : '#user',
            height: 480,
            page:true,
			size:'lg',
            cellMinWidth: 100,
            limits: [10,25,50,75,100],  //每页条数的选择项，默认：[10,20,30,40,50,60,70,80,90]。
            limit: 10, //每页默认显示的数量
            url : '/findAll',
            cols : [ [ // 表头
                {
                    type:'checkbox'
                },  {
                    field : 'id',
                    title : '序号',
                    width : 60,
                    sort: true
                }, {
                    field : 'id',
                    title : '基本档案编号',
                    width : 119
                }, {
                    field : 'name',
                    title : '基本档案名称',
                    width : 120
                }, {
                    field : 'grade',
                    title : '档案是否分级',
                    width : 120,
                    templet : function(d) {
                        if (d.grade == 1) {
                            return '是';
                        } else if (d.grade == 0) {
                            return '否';
                        }
                    }
                }, {
                    field : 'empName',
                    title : '操作人员',
                    width : 100

                }, {
                    field : 'uname',
                    title : '操作单位',
                    width : 120
                }, {
                    field : 'operationTime',
                    title : '操作时间',
                    width : 170,
                    sort: true
                } , {
                    field : 'remarks',
                    title : '备注',
                    width : 170
                }, {
                    title : '操作',
                    width : 180,
                    align : 'left',
                    toolbar : '#tools'
                }] ]
        });
         //监听行工具事件
        table.on('tool(tools)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                ,layEvent = obj.event; //获得 lay-event 对应的值
            if(layEvent === 'query'){
                // EditLay('修改','',data.id,600,600);
                var grade = data.grade;
                    if(grade==1){
                        layer.open({
                            title: ['列表', 'color:#fff;background:#1da02b;'],
                            type: 2,
                            //skin: 'layui-layer-rim', //加上边框
                            area: ['980px', '440px'], //宽高
                            content: '/basicArchivesList/'+data.id+''
                        });
                    }else{
                        layer.msg("该行数据不支持分级！",{icon:2});
                    }

            }
        });

        //监听提交
        form.on('submit(sreach)', function(data){
            var id = $("#id").val();
            var name=$("#name").val();
            var empName = $("#empName").val();
            var operationTime = $("#operationTime").val();
            table.reload('alltable', {page:{curr:1},url: '/findAll' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
                ,totalRow: true //开启合计行
                ,cols : [ [ // 表头
                    {
                        type:'checkbox'
                    },  {
                        field : 'id',
                        title : '序号',
                        width : 60,
                        sort: true
                    }, {
                        field : 'id',
                        title : '基本档案编号',
                        width : 119
                    }, {
                        field : 'name',
                        title : '基本档案名称',
                        width : 120
                    }, {
                        field : 'grade',
                        title : '档案是否分级',
                        width : 120,
                        templet : function(d) {
                            if (d.grade == 1) {
                                return '是';
                            } else if (d.grade == 0) {
                                return '否';
                            }
                        }
                    }, {
                        field : 'empName',
                        title : '操作人员',
                        width : 100

                    }, {
                        field : 'uname',
                        title : '操作单位',
                        width : 120
                    }, {
                        field : 'operationTime',
                        title : '操作时间',
                        width : 170,
                        sort: true
                    } , {
                        field : 'remarks',
                        title : '备注',
                        width : 170
                    }, {
                        title : '操作',
                        width : 180,
                        align : 'left',
                        toolbar : '#tools'
                    }] ]
                , where:{"name":name,"id":id,"empName":empName,
                   "operationTime":operationTime}});
            return false;
        });

        //日期
        var operationTime= laydate.render({
            elem: '#operationTime'
        });




    });

$(function(){
	//显示、隐藏剩余的查询条件
	$('#btnMore').click(function(){
		$("#hQuery").toggle();
	});

	//新增主信息
	$('#opAdd').click(function(){
		//页面层
		layer.open({
		  title: ['新增', 'color:#fff;background:#1da02b;'],
		  type: 2,
		  //skin: 'layui-layer-rim', //加上边框
		  area: ['650px', '320px'], //宽高
		  content: '/basicArchivesAdd'
		});
	});

    //编辑
    $('#opUpdate').click(function(){
        var checkStatus = table.checkStatus("alltable"),
            data = checkStatus.data;
        if (data.length == 1)
        {
            var bid = data[0].id;
            layer.open({
                title: ['编辑', 'color:#fff;background:#1da02b;'],
                type: 2,
                //skin: 'layui-layer-rim', //加上边框
                area: ['650px', '360px'], //宽高
                content: '/basicArchivesUpd/'+bid+''
            });
        }else {
            layer.msg("请选择需要编辑的一行数据！",{icon:2});
        }
    });

	//查看列表
	$('#btnList').click(function(){
		//页面层
		layer.open({
		  title: ['列表', 'color:#fff;background:#1da02b;'],
		  type: 2,
		  //skin: 'layui-layer-rim', //加上边框
		  area: ['980px', '440px'], //宽高
		  content: 'basicArchives_list.html'
		});
	});


	
});

</script>

</body>
</html>
