<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head> 
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>基础档案</title>
	<link rel="stylesheet" type="text/css" href="../../../statics/newlayui/layui/css/layui.css">
</head> 
<body>
	<form class="layui-form" action="/updBasicArch" method="post">
	<table class="layui-table" style="width: 98%;margin: 1px auto;text-align: center;">
	  	<tbody>
		    <tr>
		    	<td class="layui-bg-gray" width="15%">档案名称</td>
		      	<td width="35%">
					<input type='hidden' lay-verify="id" name='id' th:value="${session.id}" id="id"/>
					<input type="text" lay-verify="required" id="name" name="name" placeholder="请输入基本档案名称" autocomplete="off" class="layui-input">
		      	</td>
		      	<td class="layui-bg-gray" width="15%">是否分级</td>
		      	<td width="35%">
					<input type="radio" name="grade" id="in1" value="1" title="是">
					<input type="radio" name="grade" id="in0" value="0" title="否" checked>
		      	</td>
		    </tr>
			<tr>
				<td class="layui-bg-gray">操作人员</td>
				<td id="empName"><!--张三--></td>
				<td class="layui-bg-gray">操作单位</td>
				<td id="uname"><!--总公司--></td>
			</tr>
			<tr>
				<td class="layui-bg-gray">操作时间</td>
				<td id="operationTime"><!-- 2017-10-23 16:17:10 --></td>
				<td class="layui-bg-gray"></td>
				<td> </td>
			</tr>
		    <tr>
		      	<td class="layui-bg-gray">备注</td>
		      	<td colspan="3">
					<textarea name="remarks" id="remarks" placeholder="请输入备注信息" class="layui-textarea" lay-verify="required"></textarea>
		      	</td>
		    </tr>
		    <tr>
		      	<td colspan="4">
					<button class="layui-btn" style="background: #1da02b;" lay-filter="upd" lay-submit="">确定</button>
					<button type="button" class="layui-btn layui-btn-primary" id="closePage">取消</button>
		      	</td>
		    </tr>
	  	</tbody>
	</table>
	</form>
	<script type="text/javascript" src="../../../statics/custom/jquery.min.js"></script>
	<script type="text/javascript" src="../../../statics/newlayui/layui/layui.js"></script>
	<script type="text/javascript">
        //返回
        $("#closePage").click(function(){
            var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
            parent.layer.close(index);//关闭弹出的子页面窗口
        });

        layui.use(['form', 'layedit','layer'], function(){
            $ = layui.jquery;
            var form = layui.form
                ,layer = layui.layer;
            var id = $("#id").val();
            $.ajax({
                url:"/queryBasArchById/"+id+"",
                type:"post",
                success:function(data){
                    var obj=$.parseJSON(data);
                    $("#name").val(obj.name);
                    if(obj.grade==0){
                        $("#in0").attr("checked",true);
                        form.render(); //更新全部
                    }else{
                        $("#in1").attr("checked",true);
                        form.render(); //更新全部
                    }
                    $("#empName").html(obj.empName);
                    $("#uname").html(obj.uname);
                    $("#operationTime").html(obj.operationTime);
                    $("#remarks").html(obj.remarks);
                }
            });

            //监听提交
            form.on('submit(upd)', function(data){
                layer.alert("修改成功！", {icon: 6},function () {
                    // 获得frame索引
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.location.reload(); //刷新父页面
                    //关闭当前frame
                    parent.layer.close(index);
                    $(".layui-form").submit();
                });
                return false;
            });


            //自定义验证规则
            form.verify({
                title: function(value){
                    if(value.length < 5){
                        return '标题至少得5个字符啊';
                    }
                }
                ,pass: [
                    /^[\S]{6,12}$/
                    ,'密码必须6到12位，且不能出现空格'
                ]
                ,content: function(value){
                    layedit.sync(editIndex);
                }
            });
        });



	</script>
</body> 
</html>
    

