<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head> 
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>收派标准</title>
	<link rel="stylesheet" type="text/css" href="../../../statics/newlayui/layui/css/layui.css">
</head> 
<body>
	<form class="layui-form" action="/addStanstard" type="post">
	<table class="layui-table" style="width: 98%;margin: 1px auto;text-align: center;">
	  	<tbody>
		    <tr>
		    	<td class="layui-bg-gray" width="15%">标准名称</td>
		      	<td width="35%">
      				<input type="text" id="name"  lay-verify="required" name="name"  placeholder="请输入收派标准名称" autocomplete="off" class="layui-input">
		      	</td>
		      	<td class="layui-bg-gray" width="15%">作废标志</td>
		      	<td width="35%">
					<input type="radio" lay-filter="invalidateSign" value="1" title="是" name="invalidateSign" id="in1">
					<input type="radio" lay-filter="invalidateSign" value="0" title="否" name="invalidateSign" id="in0" checked>
		      	</td>
		    </tr>
		    <tr>
		      	<td class="layui-bg-gray">最小重量</td>
		      	<td>
					<input type="text"lay-verify="required" name="minWeight" id="minWeight" placeholder="请输入最小重量" autocomplete="off" class="layui-input">
		      	</td>
		      	<td class="layui-bg-gray">最大重量</td>
		      	<td>
					<input type="text" lay-verify="required" name="maxWeight" id="maxWeight" placeholder="请输入最大重量" autocomplete="off" class="layui-input">
		      	</td>
		    </tr>
		    <tr>
		      	<td class="layui-bg-gray">操作人员</td>
		      	<td th:text="${session.ename}"></td>
		      	<td class="layui-bg-gray">操作单位</td>
		      	<td th:text="${session.uname}"></td>
		    </tr>

		    <tr>
		      	<td colspan="4">
					<button class="layui-btn" style="background: #1da02b;" lay-filter="add" lay-submit="">确定</button>
					<button type="button" class="layui-btn layui-btn-primary" id="closePage">取消</button>
		      	</td>
		    </tr>
	  	</tbody>
	</table>
	</form>
	<script type="text/javascript" src="../../../statics/custom/jquery.min.js"></script>
	<script type="text/javascript" src="../../../statics/newlayui/layui/layui.js"></script>
	<script type="text/javascript">
        //返回
        $("#closePage").click(function(){
            var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
            parent.layer.close(index);//关闭弹出的子页面窗口
        });

        layui.use(['form', 'layedit','layer'], function(){
            $ = layui.jquery;
            var form = layui.form
                ,layer = layui.layer
           /* form.on("radio(invalidateSign)", function (data) {
                var ins = data.value;
                alert(ins);
            });*/

            //监听提交
            form.on('submit(add)', function(data){
                layer.alert("新增成功！", {icon: 6},function () {
                    // 获得frame索引
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.location.reload(); //刷新父页面
                    //关闭当前frame
                    parent.layer.close(index);
                    $(".layui-form").submit();
                });
                return false;
            });


            //创建一个编辑器
            var editIndex = layedit.build('LAY_demo_editor');

            //自定义验证规则
            form.verify({
                title: function(value){
                    if(value.length < 5){
                        return '标题至少得5个字符啊';
                    }
                }
                ,pass: [
                    /^[\S]{6,12}$/
                    ,'密码必须6到12位，且不能出现空格'
                ]
                ,content: function(value){
                    layedit.sync(editIndex);
                }
            });
        });




	</script>
</body> 
</html>
    

