<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>栏目</title>
	<link rel="stylesheet" type="text/css" href="../../../statics/layui/css/layui.css">
</head>
<body>
<form class="layui-form" action="/addMenus" method="post">
	<div class="layui-tab layui-tab-brief">
		<ul class="layui-tab-title">
			<li class="layui-this">新增栏目</li>
		</ul>
		<div class="layui-tab-content" style="height: 100px;">
			<div class="layui-tab-item layui-show">
				<table class="layui-table" style="width: 98%;margin: 1px auto;text-align: center;">
					<tbody>
					<tr>
						<td class="layui-bg-gray" width="20%">上级栏目</td>
						<td width="30%">
							<select name="parentID" id="parentID" lay-verify="required">
								<option value="">请输入上级栏目</option>
								<option th:each="pres2 : ${session.pre2}" th:text="${pres2.getPtext()}" th:value="${pres2.getParentID()}"></option>
							</select>
						</td>
						<td class="layui-bg-gray" width="20%">栏目名称</td>
						<td width="30%">
							<input type="text" lay-verify="required" name="text" id="text" placeholder="请输入栏目名称" autocomplete="off" class="layui-input">
						</td>
					</tr>
					
					<tr>
						<td class="layui-bg-gray">栏目类型</td>
						<td >
							<input type="text" lay-verify="required" name="type" id="type" placeholder="请输入栏目类型" autocomplete="off" class="layui-input">
						</td>
						<td class="layui-bg-gray">栏目提示语</td>
						<td>
							<input type="text" lay-verify="required" name="tip" id="tip" placeholder="请输入栏目提示语" autocomplete="off" class="layui-input">
						</td>
					</tr>
					
					<tr>
						<td class="layui-bg-gray">栏目地址</td>
						<td colspan="3">
							<input type="text" lay-verify="required" name="url" id="url" placeholder="请输入栏目地址" autocomplete="off" class="layui-input">
						</td>
					</tr>
					
					<tr>
						<td colspan="6">
							<button class="layui-btn" style="background: #1da02b;" lay-filter="add" lay-submit="">确定</button>
							<button type="button" class="layui-btn layui-btn-primary" id="closePage">取消</button>
						</td>
					</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>

</form>
<script type="text/javascript" src="../../../statics/custom/jquery.min.js"></script>
<script type="text/javascript" src="../../../statics/layui/layui.js"></script>
<script type="text/javascript">
    //返回
    $("#closePage").click(function(){
        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
        parent.layer.close(index);//关闭弹出的子页面窗口
    });

    layui.use(['form', 'layedit','layer'], function(){
        $ = layui.jquery;
        var form = layui.form
            ,layer = layui.layer,
            layedit =layui.layedit;
        //监听提交
        form.on('submit(add)', function(data){
            layer.alert("新增成功！", {icon: 6},function () {
                // 获得frame索引
                var index = parent.layer.getFrameIndex(window.name);
                parent.location.reload(); //刷新父页面
                //关闭当前frame
                parent.layer.close(index);
                $(".layui-form").submit();
            });
            return false;
        });


        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        form.verify({
            pass: [
                /^[\S]{6,12}$/
                ,'密码必须6到12位，且不能出现空格'
            ]
            ,repass:function (value,item) {
                var repassvalue = $('#pwd').val();
                if(value != repassvalue){
                    return '两次输入的密码不一致!';
                }
            },
            reQpass:function (value,item) {
                var repassvalue = $('#queryPwd').val();
                if(value != repassvalue){
                    return '两次输入的查台密码不一致!';
                }
            }
            ,content: function(value){
                layedit.sync(editIndex);
            }
        });



    });


</script>
</body>
</html>
