<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>角色</title>
	<link rel="stylesheet" type="text/css" href="../../../statics/newlayui/layui/css/layui.css">
<link rel="stylesheet" type="text/css" href="../../../statics/css/page.css">
</head>
<body>
<!-- 外部整体 -->
<div class="external">
	<!-- 标题 -->
	<p class="ptitle">分配权限</p>
	<!-- 操作区域 -->
	
		<!-- 向上间距 -->
		<div style="height: 10px;"></div>
		<form class="layui-form" action="">
		<div class="operation">
			<!-- 操作按扭组 -->
			<div class="layui-form-item" style="padding-left: 11px;height: 30px;">
				<div class="layui-inline">
					<button type="button" class="layui-btn layui-btn-small btnQuery" lay-submit lay-filter="formDemo">保存</button>
					<button type="button" class="layui-btn layui-btn-small btnOther" id="opBack">返回</button>
				</div>
			</div>
			<!-- 数据表格 -->
		</div>
		<div>
		<table class="layui-table" style="width: 50%;margin: 1px auto;text-align: left;margin-top: 5px;">
		  	<tbody>
				<!-- 系统管理 开始 -->
				 <tr th:each="pres,a : ${session.pre2}" th:id="'p'+${a.index}">
			    	<td class="layui-bg-gray">
						<input type="hidden" id="rid" th:value="${session.id}"/>
						<input type="hidden" th:name="${pres.getParentID()}">
						<input lay-filter="erweima" type="checkbox" name ="pp" th:id="'a'+${a.index}" th:title="${pres.getPtext()}"  th:value="${pres.getParentID()}" lay-skin="primary">
					</td>
			     </tr>

		  	</tbody>
		</table>
		</div>
		</form>

	</div>
</div>
<script type="text/javascript" src="../../../statics/custom/jquery.min.js"></script>
<script type="text/javascript" src="../../../statics/layer/layer.js"></script>
<script type="text/javascript" src="../../../statics/newlayui/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['form', 'layedit','layer','laydate'], function() {
        $ = layui.jquery;
        var form = layui.form
            , layer = layui.layer,
            layedit = layui.layedit,
            laydate = layui.laydate;
        var count =0;
       $('input[name=pp]').each(function(){
           //获取所有name=choice2的值
            var parentID = $(this).val();
            $.ajax({
                   type:'post',
				   async:false,
				   url:'/getTwoMenu',
				   data:{
                       'parentID':parentID
				   },
                   success:function (data) {
                       var obj=$.parseJSON(data);
                       $.each(obj,function(i,result) {
                           console.log(result.text);
                           $("#p"+count+"").after("<tr>" +
                               "<td class='layui-bg-gray'>" +
                               "<span style='padding-left:80px;'><span>" +
							   "<input type='hidden' name ='ppa' value='"+result.parentID+"'/>" +
							   "<input lay-filter='erweima2' type='checkbox' name='pp"+result.parentID+"' id='pp"+result.id+"' lay-skin='primary' value='"+result.id+"'>" +
                               "&nbsp;&nbsp;"+result.text+"" +
							   " </td> " +
                               "</tr>");

                           form.render(); //更新全部
                       })

                   }
			});
           count++;
        });
       var id=$("#rid").val();

            $.ajax({
				type:'post',
                url:'/getCheckById',
                async:false,
			    data:{'id':id},
                success:function (data) {
                var obj = $.parseJSON(data);
                var a = 0;
				$("input[name=pp]").each(function () {
                    var aid = $("#a" + a + "").val();
                    $.each(obj,function(i,result) {
						$("#pp"+result.id+"").prop("checked",true);
                        if (aid == result.id) {
                            $("#a"+a+"").prop("checked",true);
                        }
                    });
                    form.render(); //更新全部
                    a++;
                });



            }
        });
        form.on('checkbox(erweima)', function (data) {
            var a = data.elem.checked;
            if(a == true){
                $("input[name=pp"+data.value+"]").prop("checked", true);
                form.render('checkbox');
            }else {
                $("input[name=pp"+data.value+"]").prop("checked", false);
                form.render('checkbox');
            }
            //alert(data.elem);
            //console.log(data.elem);
            //alert(data.value);//判断单选框的选中值
            //console.log(data.value);
            //alert(data.othis);
            //layer.tips('开关checked：' + (this.checked ? 'true' : 'false'), data.othis);
            //layer.alert('响应点击事件');
        });
        //委托人费用有一个未选中全选取消选中
        form.on('checkbox(erweima2)', function(data){
            var a = data.elem.checked;
            var pid = $(this).prev().val();//判断复选框
			if(a == true){
              $("input[name="+pid+"] + input[name=pp]").prop("checked", true);
                form.render('checkbox');
			}
         });

        form.on('submit(formDemo)', function(data){
            //获取checkbox[name='pp']的值
            var arr = new Array();
            var arr1 = new Array();
            $("input:checkbox[name='pp']:checked").each(function(i){
                arr[i] = $(this).val();
            });
            $("input[name='ppa']").next().each(function (i) {
                if($(this).prop("checked")==true){
                    arr1[i] =$(this).val();
				}
            });

            var aa= arr.join(",")+","+arr1.join(",");//将数组合并成字符串
            $.post("/getBaoCun/"+aa+"/"+id+"", function (res) {
                if (res == "b") {
                    layer.msg('至少选择一个权限哦！', {time: 1800, icon: 2});
                } else {
                    layer.msg('保存成功！', {time: 1800, icon: 1}, function () {
                        history.back();
                    });
                }
            });

            return false;
        });



    })
$(function(){
	//显示、隐藏剩余的查询条件
	$('#btnMore').click(function(){
		$("#hQuery").toggle();
	});

	//新增
	$('#opAdd').click(function(){
		//页面层
		layer.open({
		  title: ['新增', 'color:#fff;background:#1da02b;'],
		  type: 2,
		  //skin: 'layui-layer-rim', //加上边框
		  area: ['930px', '450px'], //宽高
		  content: 'businessAcceptance_add.html'
		});
	});


	//编辑
	$('#opUpdate').click(function(){
		//页面层
		layer.open({
		  title: ['编辑', 'color:#fff;background:#1da02b;'],
		  type: 2,
		  //skin: 'layui-layer-rim', //加上边框
		  area: ['900px', '340px'], //宽高
		  content: 'dispatchingPersonnelSet_add.html'
		});
	});

	//删除
	$('#opDelete').click(function(){
		//询问框
		layer.confirm('确定是否删除？', {
		  	btn: ['是','否'] //按钮
		}, function(){
		  	layer.msg('删除成功', {icon: 1});
		}, function(){

		});
	});
	
	//返回
	$('#opBack').click(function(){
		history.back();
	});
	
	

});

</script>

</body>
</html>
