<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>角色</title>
	<link rel="stylesheet" type="text/css" href="../../../statics/newlayui/layui/css/layui.css">
</head>
<body>
<form class="layui-form" action="/updRole" method="post">
	<div class="layui-tab layui-tab-brief">
		<ul class="layui-tab-title">
			<li class="layui-this">修改角色</li>
		</ul>
		<div class="layui-tab-content" style="height: 100px;">
			<div class="layui-tab-item layui-show">
				<table class="layui-table" style="width: 98%;margin: 1px auto;text-align: center;">
					<tbody>
					<tr>
						<td class="layui-bg-gray" width="20%">角色名称</td>
						<td width="30%">
							<input type='hidden' lay-verify="id" name='id' th:value="${session.rid}" id="id"/>
							<input type="text" lay-verify="required" name="roleName" id="roleName" placeholder="请输入角色名称" autocomplete="off" class="layui-input">
						</td>
						<td class="layui-bg-gray" width="20%">是否可用</td>
						<td width="30%">
							<select name="disabled" id="disabled" lay-verify="required" th:if="${session.roleID!=session.rid}">
								<option value="">请选择</option>
								<option id="1" value="1">可用</option>
								<option id="0" value="0">不可用</option>
							</select>
							<select name="disabled" id="disabled" lay-verify="required" th:if="${session.roleID==session.rid}">
								<option value="">请选择</option>
								<option id="1" value="1">可用</option>
							</select>
						</td>
					</tr>

					<tr>
						<td class="layui-bg-gray">描述</td>
						<td colspan="3">
							<textarea name="roleDesc" lay-verify="required" id="roleDesc" placeholder="请输入内容" class="layui-textarea"></textarea>
						</td>
					</tr>

					<tr>
						<td colspan="6">
							<button class="layui-btn" style="background: #1da02b;" lay-filter="upd" lay-submit="">确定</button>
							<button type="button" class="layui-btn layui-btn-primary" id="closePage">取消</button>
						</td>
					</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>

</form>
<script type="text/javascript" src="../../../statics/custom/jquery.min.js"></script>
<script type="text/javascript" src="../../../statics/newlayui/layui/layui.js"></script>
<script type="text/javascript">

	//返回
    $("#closePage").click(function(){
        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
        parent.layer.close(index);//关闭弹出的子页面窗口
    });

    layui.use(['form', 'layedit','layer','laydate'], function() {
        $ = layui.jquery;
        var form = layui.form
            ,layer = layui.layer,
            layedit = layui.layedit,
            laydate = layui.laydate;

        var id = $("#id").val();
        $.ajax({
            url:"/querySysRoleById",
            data:{'id':id},
            type:"post",
            success:function(data){
                var obj=$.parseJSON(data);
                $("#roleName").val(obj.roleName);
                $("#roleDesc").val(obj.roleDesc);
                $("#disabled").each(function () {
                    $("#"+obj.disabled).prop("selected",true);
                    form.render(); //更新全部
                });
            }
        });


        //监听提交
        form.on('submit(upd)', function (data) {
            layer.alert("修改成功！", {icon: 6},function () {
                // 获得frame索引
                var index = parent.layer.getFrameIndex(window.name);
                parent.location.reload(); //刷新父   页面
                //关闭当前frame
                parent.layer.close(index);
                $(".layui-form").submit();
            });
            return false;
        });

    })

</script>
</body>
</html>