<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>角色</title>
	<link rel="stylesheet" type="text/css" href="../../../statics/newlayui/layui/css/layui.css">
</head>
<body>
<form class="layui-form" action="/addRole" method="post">
	<div class="layui-tab layui-tab-brief">
		<ul class="layui-tab-title">
			<li class="layui-this">新增角色</li>
		</ul>
		<div class="layui-tab-content" style="height: 100px;">
			<div class="layui-tab-item layui-show">
				<table class="layui-table" style="width: 98%;margin: 1px auto;text-align: center;">
					<tbody>
					<tr>
						<td class="layui-bg-gray" width="20%">角色名称</td>
						<td width="30%">
							<input type="text" lay-verify="required" name="roleName" id="roleName" placeholder="请输入角色名称" autocomplete="off" class="layui-input">
						</td>
						<td class="layui-bg-gray" width="20%">是否可用</td>
						<td width="30%">
							<select name="disabled" id="disabled" lay-verify="required">
								<option value="">请选择</option>
								<option value="1">可用</option>
								<option value="0">不可用</option>
							</select>
						</td>
					</tr>
					
					<tr>
						<td class="layui-bg-gray">描述</td>
						<td colspan="3">
							<textarea name="roleDesc" lay-verify="required" id="roleDesc" placeholder="请输入内容" class="layui-textarea"></textarea>
						</td>
					</tr>
					
					<tr>
						<td colspan="6">
							<button class="layui-btn" style="background: #1da02b;" lay-filter="add" lay-submit="">确定</button>
							<button type="button" class="layui-btn layui-btn-primary" id="closePage">取消</button>
						</td>
					</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>

</form>
<script type="text/javascript" src="../../../statics/custom/jquery.min.js"></script>
<script type="text/javascript" src="../../../statics/newlayui/layui/layui.js"></script>
<script type="text/javascript">

	//返回
    $("#closePage").click(function(){
        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
        parent.layer.close(index);//关闭弹出的子页面窗口
    });

    layui.use(['form', 'layedit','layer'], function(){
        $ = layui.jquery;
        var form = layui.form
            ,layer = layui.layer,
            layedit =layui.layedit;
        //监听提交
        form.on('submit(add)', function(data){
            layer.alert("新增成功！", {icon: 6},function () {
                // 获得frame索引
                var index = parent.layer.getFrameIndex(window.name);
                parent.location.reload(); //刷新父页面
                //关闭当前frame
                parent.layer.close(index);
                $(".layui-form").submit();
            });
            return false;
        });

    });



</script>
</body>
</html>
