<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongqi.springboot.dao.basic.BasBasicArchivesDao">
    <!--查询-->
    <select id="findAll" resultType="com.hongqi.springboot.model.BasBasicArchives">
        select b.ID,b.Name,b.Grade,b.Remarks,b.OperatorID,b.OperationUnitID,b.OperationTime,u.Name as uname,e.EmpName
        from BAS_BasicArchives b INNER JOIN sy_emp e on b.OperatorID = e.ID INNER JOIN sy_units u on b.OperationUnitID = u.ID
        where 1 = 1
        <if test="name != null and name!=''">
            AND b.Name like "%"#{name}"%"
        </if>
        <if test="empName != null and empName!=''">
            AND e.EmpName like "%"#{empName}"%"
        </if>
        <if test="id != 0">
            AND b.id = #{id}
        </if>
        <if test="operationTime != null and operationTime!=''">
            AND to_days(b.operationTime) =to_days(#{operationTime})
        </if>
    </select>

    <!--查询所有档案详情-->
    <select id="findAllList" resultType="com.hongqi.springboot.model.BasBasicArchiveSentry">
        select e.id,e.name,e.ParentID,e.avaliable,u.name as uname,se.EmpName,e.OperationTime,e.Remarks from
        BAS_BasicArchivesEntry e INNER JOIN BAS_BasicArchives b on e.ParentID = b.ID
        INNER JOIN sy_emp se on b.OperatorID = se.id INNER JOIN sy_units u on b.OperationUnitID
        = u.id WHERE e.ParentID = #{id} and e.avaliable!=2
    </select>

    <!--新增基础档案-->
    <insert id="addBasicArch">
        insert into BAS_BasicArchives(name,grade,operatorID,operationUnitID,operationTime,
        remarks) values(#{name},#{grade},#{operatorID},#{operationUnitID},now(),
        #{remarks})
    </insert>

    <!--修改基础档案-->
    <update id="updBasicArch">
        update BAS_BasicArchives set name=#{name},grade=#{grade}
        ,operationTime=now(),remarks=#{remarks} where id=#{id}
    </update>

    <!--根据id查询基础档案-->
    <select id="queryBasArchById" resultType="com.hongqi.springboot.model.BasBasicArchives">
        select bb.*,se.empName,su.name as uname from bas_basicarchives bb INNER JOIN sy_emp se on bb.OperatorID = se.id INNER JOIN
        sy_units su on bb.OperationUnitID  = su.id where bb.id =#{id}
    </select>

    <!--新增详细档案-->
    <insert id="addBasicArchSentry">
        insert into bas_basicarchivesentry(name,ParentID,avaliable,remarks,OperatorID,OperationUnitID,OperationTime)
        values(#{name},#{parentID},#{avaliable},#{remarks},#{operatorID},#{operationUnitID},now())
    </insert>

    <!--修改详细档案-->
    <update id="updBasicArchSentry">
         update bas_basicarchivesentry set name=#{name}
        ,operationTime=now(),remarks=#{remarks} where id=#{id}
    </update>

    <!--根据id查询-->
    <select id="queryBasArSenById" resultType="com.hongqi.springboot.model.BasBasicArchiveSentry">
        select bb.*,se.empName,su.name as uname from bas_basicarchivesentry bb INNER JOIN sy_emp se on bb.OperatorID = se.id INNER JOIN
        sy_units su on bb.OperationUnitID  = su.id where bb.id =#{id}
    </select>


    <!--作废详细档案-->
    <update id="delBasArSenById">
       update bas_basicarchivesentry set avaliable=2
    </update>




</mapper>