<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongqi.springboot.dao.basic.BasDeliveryStandardDao">

    <select id="findStandards" resultType="com.hongqi.springboot.model.BasDeliveryStandard">
       select b.id,b.name,b.minweight,b.maxweight,DATE_FORMAT(b.operationtime,'%Y-%m-%d %H:%i:%s') as operationtime,b.invalidateSign,e.empname,u.name as uname
       from BAS_DeliveryStandard b INNER JOIN sy_emp e on b.OperatorID = e.ID INNER JOIN sy_units u
       on b.OperationUnitID = u.ID where 1=1
        <if test="name != null and name!=''">
        AND b.name like "%"#{name}"%"
        </if>
        <if test="empName != null and empName!=''">
            AND e.empName like "%"#{empName}"%"
        </if>
        <if test="invalidateSign != null and invalidateSign!=''">
            AND b.invalidateSign = #{invalidateSign}
        </if>
        <if test="maxWeight != null and maxWeight!=''">
            AND b.maxWeight = #{maxWeight}
        </if>
        <if test="minWeight != null and minWeight!=''">
            AND b.minWeight = #{minWeight}
        </if>
        <if test="operationTime != null and operationTime!=''">
            AND to_days(b.operationTime) = to_days(#{operationTime})
        </if>
        order by b.id desc
    </select>
    <!--修改是否作废-->
    <update id="updateInvalidateSign">
        update BAS_DeliveryStandard set InvalidateSign = 1 where id in
        <foreach item="ids" collection="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
	</update>
    <!--根据id查询-->
    <select id="queryById" parameterType="Integer" resultType="com.hongqi.springboot.model.BasDeliveryStandard">
      select b.id,b.name,b.minweight,b.maxweight,DATE_FORMAT(b.operationtime,'%Y-%m-%d %H:%i:%s')
      as operationtime,b.invalidateSign,e.empname,u.name as uname from BAS_DeliveryStandard b
      INNER JOIN sy_emp e on b.OperatorID = e.ID INNER JOIN sy_units u on b.OperationUnitID = u.ID where b.id=#{id}
    </select>

    <!--修改收派标准-->
    <update id="updateStandards" parameterType="com.hongqi.springboot.model.BasDeliveryStandard">
        update BAS_DeliveryStandard set MinWeight = #{minWeight},MaxWeight = #{maxWeight},name=#{name},
        InvalidateSign = #{invalidateSign},OperationTime = now() where id = #{id}
    </update>

    <!--增加收派标准-->
    <insert id="addStandards" parameterType="com.hongqi.springboot.model.BasDeliveryStandard" >
        insert into BAS_DeliveryStandard  (Name,MinWeight,MaxWeight,OperatorID,OperationUnitID,operationtime,InvalidateSign)
        values(#{name},#{minWeight},#{maxWeight},#{operatorID},#{operationUnitID},now(),0)
    </insert>

    <!--新增绑值-->
    <select id="addBind" resultType="com.hongqi.springboot.model.BasDeliveryStandard">
       select e.empname,u.name as uname,e.id as OperatorID,u.id as OperationUnitID from sy_emp e  INNER JOIN sy_units u on e.empunit = u.ID
       where e.empNo =#{empNo}
    </select>



















</mapper>